.form-container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: center;
  margin-top: 8rem;
}

.form-container h1 {
  margin-bottom: 1rem;
}

.form-container p {
  margin-top: 0.5rem;
  text-align: end;
}
