.home,
.book-page {
  padding: 1rem 2rem;
}

.home h2 {
  text-align: center;
  margin: 1rem 0;
  position: relative;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 335px) {
  .home,
  .book-page {
    padding: 1rem;
  }
}
