@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #00b267;
  --text-color: #333;
  --gray-color: #ddd;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

svg {
  display: flex;
}

.submit-btn,
.addButton {
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  padding: 0.5rem 2rem;
  background-color: var(--gray-color);
}

.footer p {
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 335px) {
  .footer {
    padding: 0 1rem;
  }
}
